html,body{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(213, 217, 230);
    color:black
}
.container{
     
    padding: 1em;
    max-width: 100px;

}
.box{
    max-width: 120px;
    padding: 10em;
    background-color: brown;
    position: absolute;
}
.box1{
    
    
    background-color: cyan;
    top: 120px;
    bottom: 120px;
    z-index: 1;
    transition: all 2s;
    transition-timing-function: ease-in-out;
}
.box1:hover{
    max-width: 300px;
    left:80px
}
.box2{
    top:80 px;
    bottom: 80px;
    background-color: darkblue;
}
.box3{
    top: 40px;
    bottom: 40px;
    background-color: darkorchid;
    z-index: -1;
}
.box4{
    background-color: orangered;
    z-index: -2;
}